<h1> Get Rating</h1>

<p>Finally you can get to let the eating establishments listed
here know what you think of their service and cooking by simply giving them
a rating.</p>

<ul>
  {{#each model as |restaurant|}}
    <li> {{restaurant.name}}{{restaurant.cuisine}}{{restaurant.locale}}{{restaurant.sitting}}</li>
  {{/each}}
</ul>
{{add-restaurant saveRestaurant="saveRestaurant"}}
{{#link-to 'restaurant' restaurant.id}}{{/link-to}}
